
.inputBox {
    height: 2rem;
    font-size: 1rem;
    position: relative;
    margin: 4px;
    border-radius: 4px;
    border-width: 1px;
    width: 90%;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.labelBox{
    margin-left: 4px;
    margin-top: 4px;
    font-family: "Inter var", ui-sans-serif, system-ui, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    color: white
}
input,
label {
    display: block;
    text-align: left;
}



