.OrderContainer{
    margin: 10px;
    width: 60%;
    min-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0px 7px 10px;
}

.OrderContainer h1{
    margin: 0px;
}

.orderedFoodName {
    color: #de7a00;
    font-weight: bold;

}

.sumLabel {
    display: inline;
}
.priceSum {
    display: inline;
    color:#de7a00;
}

.date {
    display: inline;
    font-weight: 200;
}
