.OrderContainer{
    margin: 10px;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px 0px 7px 10px;
}

.OrderContainer h1{
    margin: 0px;
}

.orderedFoodName {
    color: #de7a00;
    font-weight: bold;

}

.sumLabel {
    display: inline-block;
    font-weight: bold;
    margin-top: 6px;
}
.priceSum {
    display: inline;
    color:#de7a00;
    font-weight: bold;
}

.date {
    display: inline;
    font-weight: 200;
    font-size: 20px;
}
